@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"), local("FiraSans-Regular"), url("../fonts/fira-sans/firasans-regular.woff2") format("woff2"), url("../fonts/fira-sans/firasans-regular.woff") format("woff"), url("../fonts/fira-sans/firasans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("../fonts/fira-sans/firasans-bold.woff2") format("woff2"), url("../fonts/fira-sans/firasans-bold.woff") format("woff"), url("../fonts/fira-sans/firasans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  min-height: 100%;
  font-size: 9px; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font: normal 1.6rem/1.3 "Fira Sans", "Arial", sans-serif;
  color: #444444;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dd,
dl,
dt {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #33494e; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

.page-wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px; }

.back-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000; }
  .back-top a {
    display: block;
    width: 5rem;
    height: 5rem;
    background: url("../img/icons/top.svg") center no-repeat;
    background-size: contain;
    text-align: center;
    text-decoration: none;
    transition: all .3s; }
    .back-top a:hover {
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.button {
  position: relative;
  display: inline-block;
  max-width: 270px;
  padding: 1.5rem 3rem;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: normal;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #ff6e00;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-appearance: button; }
  .button:hover, .button:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: #ff8400; }
  .button:active {
    background-color: #ff6e00;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3); }

.title {
  margin: 0;
  padding: 6rem 0 2rem 0;
  font: bold 3.6rem "Fira Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #50555f; }
  .title--white {
    color: #fff; }

.header {
  width: 100%;
  background-color: #4680f8;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2); }

.header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.header__nav-list {
  display: -ms-flexbox;
  display: flex; }

.header__nav-item a {
  padding: 2rem;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s; }
  .header__nav-item a:hover, .header__nav-item a:active {
    background-color: #2768ee; }

.header__phone-list {
  text-align: right; }

.header__phone-item {
  display: none; }
  .header__phone-item p {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    color: #fff; }
  .header__phone-item a {
    font: bold 3rem "Fira Sans", "Arial", sans-serif;
    color: #fff;
    transition: all 0.3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.logo {
  height: 80px; }
  .logo img {
    display: block;
    margin: 10px 0;
    width: 230px;
    max-width: 100%;
    height: 60px; }

.page-top {
  position: relative;
  background: #dedfe0; }
  .page-top:before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60rem;
    background: url("../img/stiralka.jpg") 80% center no-repeat;
    background-size: contain; }
  .page-top:after {
    content: "";
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45rem;
    background: url("../img/wave.png") center no-repeat;
    background-size: cover; }

.page-top__promo {
  position: relative;
  margin-bottom: 9rem; }
  .page-top__promo p {
    max-width: 33rem;
    margin: 2.5rem 0;
    font-size: 18px; }

.page-top__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 3rem;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bold;
  color: #50555f;
  white-space: normal; }

.page-top__subtitle {
  font-size: 36px;
  font-weight: bold;
  color: #50555f; }

.page-top__list {
  z-index: 2;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem 0; }

.page-top__item {
  width: 22%;
  max-width: 255px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: perspective(1px) translateZ(0);
  transition: transform 0.3s ease-out; }
  .page-top__item:not(:last-child) {
    margin-right: 30px; }
  .page-top__item:hover, .page-top__item:focus, .page-top__item:active {
    -ms-transform: translateY(-8px);
        transform: translateY(-8px); }
    .page-top__item:hover .page-top__item-link, .page-top__item:focus .page-top__item-link, .page-top__item:active .page-top__item-link {
      text-decoration: none; }

.page-top__item-img {
  position: relative;
  height: 22rem;
  overflow: hidden; }
  .page-top__item-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    min-width: inherit;
    min-height: inherit;
    max-width: 100%; }

.page-top__item-content {
  padding: 0 2rem;
  text-align: center; }

.page-top__item-name {
  min-height: 40px;
  padding: 3px;
  text-decoration: underline;
  color: #33494e; }

.page-top__item-price {
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #33494e; }
  .page-top__item-price span {
    color: #f24941; }

.points {
  padding-bottom: 6rem; }

.points__promo {
  max-width: 72rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 16px; }

.points__list {
  position: relative;
  width: 100%;
  max-width: 1110px;
  margin: 13rem auto 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-radius: 3px;
  background-color: #4680f8; }
  .points__list:before {
    content: "";
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    margin: auto;
    width: 440px;
    max-width: 100%;
    height: 470px;
    background: url("../img/points.png") center no-repeat;
    background-size: contain; }

.points__item {
  position: relative;
  width: 49%;
  padding: 3rem 10rem;
  color: #fff;
  transition: all 0.3s; }
  .points__item:nth-child(odd) {
    padding-right: 120px;
    text-align: right; }
    .points__item:nth-child(odd) .points__icon {
      right: 30px;
      background-color: #ffcf2d; }
  .points__item:nth-child(even) {
    padding-left: 120px; }
    .points__item:nth-child(even) .points__icon {
      left: 30px;
      background-color: white; }
  .points__item:hover, .points__item:focus, .points__item:active {
    cursor: pointer;
    background: #5badff; }

.points__icon {
  position: absolute;
  top: 7px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: center no-repeat;
  background-size: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }
  .points__icon--1 {
    background-image: url("../img/icons/point1.svg"); }
  .points__icon--2 {
    background-image: url("../img/icons/point2.svg"); }
  .points__icon--3 {
    background-image: url("../img/icons/point3.svg"); }
  .points__icon--4 {
    background-image: url("../img/icons/point4.svg"); }
  .points__icon--5 {
    background-image: url("../img/icons/point5.svg"); }
  .points__icon--6 {
    background-image: url("../img/icons/point6.svg"); }

.listing {
  padding-bottom: 6rem;
  background-color: #f5f5f5; }

.listing__promo {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 18px; }

.listing__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-width: 10px;
  border-color: #ff6e00;
  border-style: solid;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2); }

.listing__item {
  position: relative;
  width: 16.666%;
  height: 150px;
  border: 1px solid #f9f9f9;
  overflow: hidden;
  transition: all .3s; }
  .listing__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    top: 65%; }
  .listing__item:hover, .listing__item:focus {
    cursor: pointer;
    border-color: #ff6e00;
    border-width: 2px; }

.listing__name {
  padding: 2rem 1rem;
  text-align: center;
  font-weight: bold; }

.order {
  padding: 2rem 0;
  background: #4680f8 url("../img/order-bg.jpg") center no-repeat;
  background-size: cover; }
  .order .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.order__column,
.order__form {
  width: 50%; }

.order__form {
  padding: 20px 10% 40px 10%; }
  .order__form .order__subtitle {
    margin: 0 0 16px 0; }
  .order__form.form-wrapper {
    background-size: 340px; }

.order .order__form .form {
  width: 280px; }

.order__column .title {
  padding: 42px 0 3rem 0;
  text-align: left; }

.order__column p {
  margin-bottom: 3rem;
  padding-right: 40px;
  color: #fff; }

.order__subtitle {
  margin: 18px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  color: #fff; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 1rem;
  padding-left: 20px;
  font: normal 1.4rem/1.33 "Fira Sans", "Arial", sans-serif;
  color: #444444;
  border: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #878787;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #878787;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #878787;
  opacity: 1;
  transition: all 0.3s ease; }

input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #878787; }

input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #878787; }

input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #878787; }

input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #878787; }

input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3); }

.errortext {
  padding: 1rem;
  color: red;
  transition: all 0.3s ease; }

.form-wrapper {
  background: url("../img/form-bg.png") center no-repeat;
  background-size: contain; }

.form {
  max-width: 100%;
  margin: 0 auto; }

.form__unit {
  position: relative;
  margin-bottom: 20px; }
  .form__unit > label {
    display: none; }
  .form__unit > input[type="text"]:focus,
  .form__unit > input[type="email"]:focus,
  .form__unit > input[type="tel"]:focus {
    outline: 0;
    background-color: #fff; }
    .form__unit > input[type="text"]:focus + label,
    .form__unit > input[type="email"]:focus + label,
    .form__unit > input[type="tel"]:focus + label {
      opacity: 0; }
  .form__unit > input[type="text"]:valid,
  .form__unit > input[type="email"]:valid,
  .form__unit > input[type="tel"]:valid {
    background: #fff url("../img/icons/check.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 3px 10px; }
    .form__unit > input[type="text"]:valid + label,
    .form__unit > input[type="email"]:valid + label,
    .form__unit > input[type="tel"]:valid + label {
      opacity: 0; }
  .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) {
    background: pink; }
    .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + label {
      opacity: 0; }
  .form__unit > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="tel"]:invalid:focus:not(:placeholder-shown) ~ .form__error {
    max-height: 20rem;
    padding: 1rem 2rem; }
  .form__unit > textarea {
    height: auto;
    font-size: 14px; }
    .form__unit > textarea::-webkit-input-placeholder {
      font-size: 1.6rem; }
    .form__unit > textarea::-moz-placeholder {
      font-size: 16px; }
    .form__unit > textarea::-ms-placeholder {
      font-size: 16px; }
    .form__unit > textarea:focus {
      outline: 0;
      background-color: #fff; }
      .form__unit > textarea:focus::-webkit-input-placeholder {
        color: transparent !important; }
      .form__unit > textarea:focus::-moz-placeholder {
        color: transparent !important; }
      .form__unit > textarea:focus::-ms-placeholder {
        color: transparent !important; }

.form__error {
  max-height: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 0;
  font: normal 1.4rem/1.33 "Fira Sans", "Arial", sans-serif;
  color: #f24941;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease; }

.form__submit {
  display: block;
  width: 100%;
  max-width: 100%; }

.form__footer {
  text-align: center;
  font-size: 14px;
  color: #ddedfa; }

.special {
  background-color: #ff6e00; }
  .special .container {
    position: relative; }
    .special .container::after {
      content: "";
      display: table;
      line-height: 0;
      clear: both; }

.special__column:first-child {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 35%;
  min-height: 380px;
  background-color: #fff;
  overflow: hidden; }

.special__column:last-child {
  width: 65%;
  float: right;
  padding: 0 20px 0 40px; }

.special__column .title {
  padding: 30px 0;
  text-align: left; }

.special__column p {
  margin-bottom: 25px;
  color: #fff; }

.special__column img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.special__phone {
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .special__phone a {
    margin-left: 10px;
    font-size: 36px;
    color: #fff; }

.reasons {
  padding: 0 30px 5rem !important; }

.reasons__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 20px;
  padding: 35px 0;
  background: url("../img/reasons-bg.png") center no-repeat;
  background-size: 40%; }

.reasons__item {
  position: relative;
  width: 42%;
  padding: 5rem 4rem;
  color: #4680f8;
  transition: all 0.3s;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased; }
  .reasons__item:nth-child(odd) {
    padding-right: 165px;
    padding-left: 0;
    text-align: right; }
  .reasons__item:nth-child(even) {
    padding-left: 165px; }
  .reasons__item:nth-child(3) {
    padding-right: 200px; }
  .reasons__item:nth-child(4) {
    padding-left: 200px; }
  .reasons__item input {
    display: none; }
  .reasons__item label {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #4680f8;
    transition: all 0.3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .reasons__item label:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-bottom: 1px dotted #ff6e00; }
  .reasons__item article {
    z-index: 10;
    position: absolute;
    bottom: 60%;
    left: -25px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 20px;
    text-align: justify;
    color: #444444;
    pointer-events: none;
    opacity: 0;
    border-width: 1px;
    border-color: #ff6e00;
    border-style: solid;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    -ms-transform: translateY(10px);
        transform: translateY(10px);
    transition: all 0.3s; }
    .reasons__item article:before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -20px;
      display: block;
      height: 20px;
      width: 100%; }
    .reasons__item article:after {
      content: " ";
      position: absolute;
      bottom: -10px;
      left: 50%;
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid #ff6e00 10px;
      height: 0;
      margin-left: -13px;
      width: 0; }
  .reasons__item:before {
    content: "";
    position: absolute;
    top: 29px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    line-height: 75px;
    color: #fff;
    border-radius: 50%;
    background-color: #4680f8;
    transition: all 0.3s; }
  .reasons__item:first-child:before {
    content: "1";
    right: 65px; }
  .reasons__item:nth-child(2):before {
    content: "4";
    left: 65px; }
  .reasons__item:nth-child(3):before {
    content: "2";
    right: 100px; }
  .reasons__item:nth-child(4):before {
    content: "5";
    left: 100px; }
  .reasons__item:nth-child(5):before {
    content: "3";
    right: 65px; }
  .reasons__item:last-child:before {
    content: "6";
    left: 65px; }
  .reasons__item:active, .reasons__item:focus, .reasons__item:hover {
    cursor: pointer; }
    .reasons__item:active label, .reasons__item:focus label, .reasons__item:hover label {
      color: #ff6e00; }
    .reasons__item:active article, .reasons__item:focus article, .reasons__item:hover article {
      opacity: 1;
      pointer-events: auto;
      -ms-transform: translateY(0px);
          transform: translateY(0px); }
    .reasons__item:active:before, .reasons__item:focus:before, .reasons__item:hover:before {
      background-color: #ff6e00; }

.brends {
  padding-bottom: 30px;
  background-color: #f5f5f5; }

.brends__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.brends__item {
  position: relative;
  width: 14.4%;
  height: 60px;
  margin: 0 2.7% 15px 0;
  overflow: hidden;
  border-width: 1px;
  border-color: #ebebeb;
  border-style: solid;
  border-radius: 4px;
  background-color: #fff;
  transition: all .3s; }
  .brends__item:nth-child(6n+6) {
    margin-right: 0; }
  .brends__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    max-width: 80%; }
  .brends__item:hover, .brends__item:active, .brends__item:focus {
    cursor: pointer;
    outline: none;
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

.contacts {
  position: relative; }

.contacts__content {
  width: 50%;
  font-size: 14px; }
  .contacts__content .title {
    padding: 50px 0 15px 0;
    text-align: left; }
  .contacts__content p {
    margin-bottom: 20px; }

.contacts__map {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: #f5f5f5;
  overflow: hidden; }

.contacts__list {
  padding-top: 10px;
  padding-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.contacts__column {
  width: 45%; }
  .contacts__column:first-child {
    margin-right: 10%; }
  .contacts__column:last-child .contacts__item {
    margin-bottom: 15px; }

.contacts__item {
  position: relative;
  padding-left: 50px; }

p.contacts__name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #4680f8; }

.contacts__link--mail {
  text-decoration: underline; }

.contacts__icon {
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: center no-repeat;
  background-color: #fff; }
  .contacts__icon--adress {
    background-image: url("../img/icons/adress.svg"); }
  .contacts__icon--mail {
    background-image: url("../img/icons/mail.svg"); }
  .contacts__icon--mobile {
    background-image: url("../img/icons/phone.svg"); }
  .contacts__icon--phone {
    background-image: url("../img/icons/phones.svg"); }
  .contacts__icon--time {
    background-image: url("../img/icons/time.svg"); }

.footer {
  background-color: #50555f; }
  .footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }

.footer__copyright {
  color: #c5c5c5;
  font-size: 12px; }

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  max-width: 360px;
  height: auto;
  max-height: 100%;
  margin: auto;
  outline: none;
  overflow: hidden;
  visibility: hidden; }
  .modal_show {
    display: block;
    visibility: visible !important;
    animation-name: expandUp;
    animation-duration: 0.7s;
    animation-timing-function: ease; }
  .modal_bg {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 128, 248, 0.5);
    transition: all .5s ease; }
  .modal--call {
    height: 500px;
    background-image: url("../img/modal-bg.png"); }
  .modal--sucsess {
    max-width: 600px;
    height: 290px;
    border-radius: 4px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2); }
    .modal--sucsess .order__subtitle {
      font-size: 36px;
      color: #4680f8; }
    .modal--sucsess .modal__guts p {
      color: #444444; }
    .modal--sucsess .modal__guts:after {
      content: "";
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: auto;
      width: 90px;
      height: 90px;
      background: url("../img/check.svg") center no-repeat;
      background-size: contain; }

.modal__close {
  display: none;
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background: url("../img/icons/cross.svg") center no-repeat;
  background-size: contain;
  transition: all 0.3s; }
  .modal__close:hover, .modal__close:active, .modal__close:focus {
    cursor: pointer;
    outline: none;
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 35px;
  overflow: auto; }
  .modal__guts p {
    margin-bottom: 20px;
    text-align: center;
    color: #fff; }

@keyframes expandUp {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    transform: translateY(-7%) scaleY(1.12); }
  75% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%) scale(1) scaleY(1); } }

@media (min-width: 767px) {

  html {
    font-size: 9.5px; } }

@media (min-width: 768px) {

  .header__phone-list .header__phone-item--mobile {
    display: none; }

  .header__phone-item {
    display: block; } }

@media (min-width: 1230px) {

  html {
    font-size: 10px; } }

@media (max-width: 468px) {

  .button {
    padding: 12px 20px; }

  .title {
    padding: 25px 0 10px 0;
    font-size: 24px; }

  .header__phone-item a {
    font-size: 18px; }

  .logo {
    height: 55px; }

  .logo img {
    width: 130px;
    height: auto;
    margin: 10px 0 0 0; }

  .page-top__promo p {
    text-align: justify;
    font-size: 14px; }

  .page-top__list {
    padding: 0; }

  .page-top__item-img {
    height: 140px; }

  .page-top__item-content {
    padding: 0; }

  .points {
    padding-bottom: 0; }

  .points__list {
    max-width: 100%;
    margin-top: 70px; }

  .points__list:before {
    top: -155px !important;
    background-size: 300px !important; }

  .points__icon {
    top: 20px; }

  .listing {
    padding-bottom: 20px; }

  .listing__promo {
    font-size: 17px;
    padding: 0 40px; }

  .order {
    padding: 0; }

  .order__form {
    background-size: 340px; }

  .order__column .title {
    padding-top: 2rem; }

  .special__column:first-child {
    min-height: 268px; }

  .special__column .title {
    padding: 20px 0; }

  .special__column p {
    margin-bottom: 15px; }

  .special__phone a {
    font-size: 30px; }

  .reasons {
    padding: 20px 15px 7rem !important; }

  .reasons__item label {
    font-size: 18px; }

  .brends__item {
    width: 30%;
    margin-right: 5%; }

  .brends__item:nth-child(6n+6) {
    margin-right: 0; }

  .brends__item:nth-child(3n+3) {
    margin-right: 0; }

  .contacts__content p {
    margin-bottom: 10px; }

  .contacts__content p:last-of-type {
    text-align: justify; }

  .contacts__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .contacts__column {
    width: 100%;
    margin: 0; }

  .footer .logo {
    height: 65px; }

  .footer .logo img {
    width: 180px;
    margin: 20px 0; }

  .footer__copyright {
    text-align: center; }

  .footer__copyright span {
    display: none; }

  .modal--sucsess .modal__guts:after {
    bottom: 5px; } }

@media (max-width: 767px) {

  .header__nav-list {
    display: none; }

  .header__phone-list .header__phone-item--mobile {
    display: block; }

  .page-top:before {
    top: 15%; }

  .page-top:after {
    height: 65rem; }

  .page-top__promo {
    margin-bottom: 20rem;
    text-align: center; }

  .page-top__promo p {
    max-width: none;
    margin: 15px 0; }

  .page-top__promo p br {
    display: none; }

  .listing__item {
    width: 25%; } }

@media (max-width: 370px) {

  .modal--call {
    max-width: 100%;
    height: 410px;
    background-size: 320px; }

  .modal__guts {
    padding: 10px 25px; } }

@media screen and (max-width: 468px) {

  .page-top:before {
    top: 10%; }

  .page-top:after {
    height: 75rem; }

  .page-top__title {
    padding-top: 20px;
    font-size: 24px !important;
    line-height: 30px; }

  .page-top__subtitle {
    font-size: 24px; }

  .points__item p {
    font-size: 11px;
    padding-top: 24px; }

  .listing__item {
    width: 50%; }

  .order .order__form .form {
    width: 100%; }

  .reasons__item:before {
    top: -10px;
    width: 40px;
    height: 40px;
    line-height: 45px; } }

@media (max-width: 890px) {

  .page-top__title {
    font-size: 36px; } }

@media (max-width: 720px) {

  .page-top__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }

  .page-top__item {
    width: 45%;
    margin: 0 30px 20px 0; }

  .page-top__item:nth-child(2) {
    margin-right: 0; }

  .page-top__item:last-child {
    margin-right: 0; }

  .points__promo {
    text-align: justify; }

  .points__promo br {
    display: none; }

  .points__list:before {
    z-index: -1;
    top: -147px;
    background-size: 350px; }

  .points__item:nth-child(odd) {
    padding-right: 15px;
    text-align: center;
    border-right: 1px solid #fff; }

  .points__item:nth-child(even) {
    padding-left: 15px;
    border-left: 1px solid #fff; }

  .points__icon {
    left: 0 !important;
    right: 0 !important;
    margin: auto; }

  .order .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .order__column,
    .order__form {
    width: 100%; }

  .order .order__form .form {
    width: 320px; }

  .special__column:first-child {
    position: relative;
    width: 115%;
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }

  .special__column:last-child {
    width: 100%;
    float: none;
    text-align: center;
    padding: 0; }

  .special__column .title {
    text-align: center; } }

@media (max-width: 1230px) {

  .container {
    padding: 0 15px; }

  .points__list {
    max-width: 95%; }

  .form {
    padding: 0 3%; } }

@media (max-width: 960px) {

  .points__item {
    padding: 3rem; }

  .special__column:first-child {
    left: 0;
    bottom: 0;
    top: auto; }

  .special__phone a {
    display: block;
    margin: 0; }

  .contacts__content {
    width: 100%;
    text-align: center; }

  .contacts__content .title {
    text-align: center; }

  .contacts__map {
    position: static;
    width: 100%; }

  .contacts__list {
    text-align: left; } }

@media screen and (max-width: 720px) {

  .points__item {
    z-index: 10;
    width: 50%;
    padding: 100px 15px 10px 15px;
    text-align: center;
    border-bottom: 1px solid #fff; } }

@media (max-width: 980px) {

  .order__form {
    padding: 30px 6% 40px 6%; } }

@media (max-width: 1080px) {

  .reasons {
    padding: 20px 15px 0 !important; }

  .reasons__list {
    padding-left: 40%;
    margin-top: 0;
    background-position: left center; }

  .reasons__item {
    width: 100%;
    padding: 2rem;
    padding-left: 80px !important;
    padding-right: 2rem !important;
    text-align: left !important; }

  .reasons__item:before {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 5px !important;
    left: 0 !important; }

  .reasons__item article {
    position: relative;
    bottom: auto;
    left: auto;
    height: 0;
    padding: 0;
    opacity: 1;
    border: none;
    overflow: hidden;
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear; }

  .reasons__item input:checked ~ article {
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    height: auto; }

  .reasons__item:nth-child(2) {
    -ms-flex-order: 4;
    order: 4; }

  .reasons__item:nth-child(3) {
    -ms-flex-order: 2;
    order: 2; }

  .reasons__item:nth-child(4) {
    -ms-flex-order: 5;
    order: 5; }

  .reasons__item:nth-child(5) {
    -ms-flex-order: 3;
    order: 3; }

  .reasons__item:nth-child(6) {
    -ms-flex-order: 6;
    order: 6; } }

@media screen and (max-width: 640px) {

  .reasons__list {
    padding: 0;
    background: none; } }

@media screen and (max-width: 580px) {

  .reasons__item {
    padding: 10px 0 10px 10px;
    padding-left: 70px !important;
    margin-bottom: 10px; }

  .reasons__item:before {
    top: -5px !important; } }

@media (max-width: 1140px) {

  .contacts__content br {
    display: none; } }

@media (max-width: 360px) {

  .page-top__item {
    width: 45%;
    margin: 0 13px 20px 0; }

  .page-top__item:not(:last-child) {
    margin-right: 13px; }

  .page-top__item:nth-child(2) {
    margin-right: 0; }

  .order__form.form-wrapper {
    background-size: 320px; } }
