.contacts {
	position: relative;
}

.contacts__content {
	width: 50%;
	font-size: 14px;

	.title {
		padding: 50px 0 15px 0;
		text-align: left;
	}

	p {
		margin-bottom: 20px;
	}

	@media (max-width: 960px) {
		width: 100%;
		text-align: center;
		.title {
			text-align: center;
		}
	}
	@media (max-width: 1140px) {
		br {
			display: none;
		}
	}
	@media (max-width: $mobile_full) {
		p {
			margin-bottom: 10px;
		}
		p:last-of-type {
			text-align: justify;
		}
	}
}

.contacts__map {
	position: absolute;
	top: 0;
	right: 0;
	width: 45%;
	height: 100%;
	background-color: $gray_lightest;
	overflow: hidden;

	@media (max-width: 960px) {
		position: static;
		width: 100%;
	}
}

.contacts__list {
	padding-top: 10px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;

	@media (max-width: 960px) {
		text-align: left;
	}
	@media (max-width: $mobile_full) {
		flex-wrap: wrap;
	}
}

.contacts__column {
	width: 45%;

	&:first-child {
		margin-right: 10%;
	}

	&:last-child {
		.contacts__item {
			margin-bottom: 15px;
		}
	}

	@media (max-width: $mobile_full) {
		width: 100%;
		margin: 0;
	}
}

.contacts__item {
	position: relative;
	padding-left: 50px;
}

p.contacts__name {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: bold;
	color: $blue;
}

.contacts__link--mail {
	text-decoration: underline;
}

.contacts__icon {
	position: absolute;
	top: -10px;
	left: 0;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: center no-repeat;
	background-color: #fff;

	&--adress {
		background-image: url("../img/icons/adress.svg");
	}
	&--mail {
		background-image: url("../img/icons/mail.svg");
	}
	&--mobile {
		background-image: url("../img/icons/phone.svg");
	}
	&--phone {
		background-image: url("../img/icons/phones.svg");
	}
	&--time {
		background-image: url("../img/icons/time.svg");
	}
}
