.header {
	width: 100%;
	background-color: $blue;
	box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.2);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// navigation
.header__nav-list {
	display: flex;

	@media (max-width: $tablet) {
		display: none;
	}
}

.header__nav-item a {
	padding: 2rem;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;

	&:hover,
	&:active {
		background-color: $blue_dark;
	}
}

// header phone
.header__phone-list {
	text-align: right;

	@media (max-width: 767px) {
		.header__phone-item--mobile {
			display: block;
		}
	}
	@media (min-width: 768px) {
		.header__phone-item--mobile {
			display: none;
		}
	}
}

.header__phone-item {
	display: none;

	p {
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 1;
		color: #fff;
	}

	a {
		font: bold 3rem $font_1;
		color: #fff;
		transition: all 0.3s;
		@include niceText;

		@media (max-width: $mobile_full) {
			font-size: 18px;
		}
	}

	@media (min-width: 768px) {
		display: block;
	}
}
