.points {
	padding-bottom: 6rem;
	@media (max-width: $mobile_full) {
		padding-bottom: 0;
	}
}

.points__promo {
	max-width: 72rem;
	margin: 0 auto 2rem auto;
	text-align: center;
	font-size: 16px;

	@media (max-width: 720px) {
		text-align: justify;

		br {
			display: none;
		}
	}
}

.points__list {
	position: relative;
	width: 100%;
  max-width: 1110px;
  margin: 13rem auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 3px;
	background-color: $blue;

	@media (max-width: $desktop) {
		max-width: 95%;
	}
	@media (max-width: $mobile_full) {
		max-width: 100%;
		margin-top: 70px;
	}

	// znak
	&:before {
		content: "";
		position: absolute;
		top: -120px;
		left: 0;
		right: 0;
		margin: auto;
		width: 440px;
		max-width: 100%;
		height: 470px;
		background: url("../img/points.png") center no-repeat;
		background-size: contain;

		@media (max-width: 720px) {
			z-index: -1;
			top: -147px;
			background-size: 350px;
		}
		@media (max-width: $mobile_full) {
			top: -155px !important;
			background-size: 300px !important;
		}
	}
}

.points__item {
	position: relative;
	width: 49%;
	padding: 3rem 10rem;
	color: #fff;
	transition: all 0.3s;

	// left item
	&:nth-child(odd) {
		padding-right: 120px;
		text-align: right;
		.points__icon {
			right: 30px;
			background-color: $yellow;
		}
		@media (max-width: 720px) {
			padding-right: 15px;
			text-align: center;
			border-right: 1px solid #fff;
		}
	}

	// right item
	&:nth-child(even) {
		padding-left: 120px;
		.points__icon {
			left: 30px;
		  background-color: rgb(255, 255, 255);
		}
		@media (max-width: 720px) {
			padding-left: 15px;
			border-left: 1px solid #fff;
		}
	}

	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		background: $blue_light;
	}

	@media (max-width: 960px) {
		padding: 3rem;
	}
	@media screen and (max-width: 720px) {
		z-index: 10;
		width: 50%;
		padding: 100px 15px 10px 15px;
		text-align: center;
		border-bottom: 1px solid #fff;
	}
	@media screen and (max-width: $mobile_full) {
		p {
			font-size: 11px;
			padding-top: 24px;
		}
	}
}

// icons
.points__icon {
	position: absolute;
	top: 7px;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: center no-repeat;
	background-size: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

	&--1 {
		background-image: url("../img/icons/point1.svg");
	}
	&--2 {
		background-image: url("../img/icons/point2.svg");
	}
	&--3 {
		background-image: url("../img/icons/point3.svg");
	}
	&--4 {
		background-image: url("../img/icons/point4.svg");
	}
	&--5 {
		background-image: url("../img/icons/point5.svg");
	}
	&--6 {
		background-image: url("../img/icons/point6.svg");
	}

	@media (max-width: 720px) {
		left: 0 !important;
		right: 0 !important;
		margin: auto;
	}
	@media (max-width: $mobile_full) {
		top: 20px;
	}
}
