.reasons {
	padding: 0 30px 7rem !important;
}

.reasons__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0;
	background: url("../img/reasons-bg.png") center no-repeat;
	background-size: 40%;

	@media (max-width: 960px) {
		padding-left: 50%;
		background-position: left center;
	}
	@media screen and  (max-width: $tablet) {
		padding-left: 25%;
		background-position: -150px center;
		background-size: 60%;
	}
	@media screen and  (max-width: $mobile_full) {
		padding: 0;
	}
}

.reasons__item {
	position: relative;
	width: 42%;
	padding: 5rem 4rem;
	color: $blue;
	transition: all 0.3s;
	-webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;

	@media (max-width: 960px) {
		width: 100%;
		padding: 2rem;
		padding-left: 80px !important;
		padding-right: 2rem !important;
		text-align: left !important;
	}

	// 1,5
	&:nth-child(odd) {
		padding-right: 130px;
		text-align: right;
	}
	// 2,6
	&:nth-child(even) {
		padding-left: 130px;
	}
	// 3
	&:nth-child(3) {
		padding-right: 170px;
	}
	// 4
	&:nth-child(4) {
		padding-left: 170px;
	}

	// inner of item
	input {
		display: none;
	}

	label {
		position: relative;
		font-size: 24px;
		font-weight: bold;
		cursor: pointer;
		color: $blue;
		transition: all 0.3s;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			border-bottom: 1px dotted $orange;
		}

		&:active,
		&:focus,
		&:hover {
			color: $orange;
		}

		@media (max-width: $mobile_full) {
			font-size: 18px;
		}
	}

	// tooltip
	article {
		z-index: 10;
		position: absolute;
		bottom: 60%;
		left: -25px;
		display: block;
		width: 100%;
		margin-bottom: 15px;
		padding: 10px 20px;
		text-align: justify;
		color: $color_body;
		pointer-events: none;
		opacity: 0;
		border-width: 1px;
		border-color: rgb(255, 110, 0);
		border-style: solid;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		transform: translateY(10px);
		transition: all 0.3s ease-out;

		&:before {
			content: " ";
			position: absolute;
			left: 0;
			bottom: -20px;
			display: block;
			height: 20px;
			width: 100%;
		}

		&:after {
			content: " ";
			position: absolute;
			bottom: -10px;
			left: 50%;
			border-left: solid transparent 10px;
			border-right: solid transparent 10px;
			border-top: solid $orange 10px;
			height: 0;
			margin-left: -13px;
			width: 0;
		}
	}

	// circles
	&:before {
		content: "";
		position: absolute;
		top: 30px;
		display: inline-block;
		width: 75px;
		height: 75px;
		text-align: center;
		vertical-align: middle;
		font-size: 30px;
		font-weight: bold;
		line-height: 75px;
		color: #fff;
		border-radius: 50%;
		background-color: $blue;

		@media (max-width: 960px) {
			width: 60px;
			height: 60px;
			line-height: 60px;
			top: 0!important;
			left: 0!important;
		}
		@media screen and (max-width: $mobile_full) {
			width: 45px;
			height: 45px;
			line-height: 45px;
		}
	}

	// numbers in circle
	&:first-child:before {
		content: "1";
		right: 45px;
	}

	&:nth-child(2):before {
		content: "4";
		left: 45px;
	}

	&:nth-child(3):before {
		content: "2";
		right: 85px;
	}

	&:nth-child(4):before {
		content: "5";
		left: 85px;
	}

	&:nth-child(5):before {
		content: "3";
		right: 45px;
	}

	&:last-child:before {
		content: "6";
		left: 45px;
	}
	// hover on item
	&:hover {
		cursor: pointer;

		article {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0px);
		}
	}
}

// mobile - accordion
@media (max-width: 960px) {
	.reasons__item article {
		position: relative;
		bottom: auto;
		left: auto;
		height: 0;
		padding: 0;
		opacity: 1;
		border: none;
		overflow: hidden;
		transform: translateY(0);
		transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	}

	.reasons__item input:checked ~ article {
		padding: 1rem;
		transition: all 0.3s ease-in-out;
		box-shadow: none;
		height: auto;
	}
}
